.marker {
  border: 1px solid green;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fc9248;
}
li {
  list-style: none;
}
#head {
  height: 100px;
  width: 100%;
  background-color: white;
  text-align: center;
}
.mixin_inline_list ul {
  display: inline;
  list-style: none;
}
.mixin_inline_list ul li {
  color: #ccc;
  float: left;
  padding: 10px;
}
.mixin_inline_list ul li a {
  text-decoration: none;
  color: inherit;
}
.mixin_inline_list ul li a:hover {
  color: black;
}
#mmenu {
  display: inline-block;
}
#mmenu ul {
  display: inline;
  list-style: none;
}
#mmenu ul li {
  color: #ccc;
  float: left;
  padding: 10px;
}
#mmenu ul li a {
  text-decoration: none;
  color: inherit;
}
#mmenu ul li a:hover {
  color: black;
}
.enum ul {
  display: inline;
  list-style: none;
}
.enum ul li {
  color: #ccc;
  float: left;
  padding: 10px;
}
.enum ul li a {
  text-decoration: none;
  color: inherit;
}
.enum ul li a:hover {
  color: black;
}
.enum ul li {
  color: white;
}
.thumbnails img {
  width: 200px;
}
#home_img {
  width: 200px;
}

/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
