@orange_coulour: rgb(252,146,72); 
@window_width: `window.innerWidth`;
@site_width: 1024px;

.marker{
	border: 1px solid green;
}

body{
	margin: 0;
	padding: 0;
	background-color: @orange_coulour;
}


li{
	list-style: none;
}


#head {
	height: 100px;
	width: 100%;
	background-color: white;
	text-align: center;
}


.mixin_inline_list{
	ul{
		display: inline;
		list-style: none;	

		li {
			color: #ccc;
			float:left;
			padding: 10px;		

			a {
				text-decoration: none;
				color:inherit;

				&:hover{
					color: black;
				}

			}
		}
	}
}

#mmenu{
	display: inline-block;
	.mixin_inline_list;
}

.enum{
	.mixin_inline_list;
	ul li{
		color: white;
	}
}

.thumbnails{
	img{
		width: 200px;
	}
}

#home_img{
	width: 200px;
}











