.marker{border:1px solid red}body{font-family:"proxima-nova",sans-serif;font-size:18px;color:#fff}body .h1{font-size:40px}body .h2{font-size:30px}body .h3{font-size:30px}body .text{font-size:20px;color:#fff}body .link{font-size:10px}body .link:a{text-decoration:none}body .caption{font-size:16px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
