.marker{
	border: 1px solid red;
}

body{
	font-family:"proxima-nova",sans-serif;
	font-size: 18px;
	color: white;
	.h1{
		font-size: 40px;
	}
	.h2{
		font-size: 30px;
	}
	.h3{
		font-size: 30px;	
	}
	.text{
		font-size: 20px;
		color: white;
	}
	.link{
		font-size: 10px;
		&:a{
			text-decoration: none;
		}
	}
	.caption{
		font-size: 16px;
	}
	
}

