<!DOCTYPE html>
<html>
<head>
	<!-- javascript libs -->
	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!--<script src="js/chart.min.js"></script>-->
	<script src="js/custom/custom.js"></script>

	<!-- production css -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	<link rel="stylesheet" type="text/css" href="css/spacers.css" />
	<link rel="stylesheet" type="text/css" href="css/typography.css" />


	<!-- Proxima Nova font -->
	<link rel="stylesheet" href="css/typekit-proxima-nova.css">

</head>

<body>
	<div id="head">
		<div id="top_spacer"></div>
		<div id="mmenu">
			<ul>
				<li><a href="#">home</a></li>
				<!-- <li><a href="#/work">work</a></li> -->
				<li><a href="#/about">about</a></li>
				<li><a href="#/portfolio">portfolio</a></li>
				<li><a href="#/services">services</a></li>
				<!-- <li><a href="#/more">more</a></li> -->
				<li><a href="#/contacts">contacts</a></li>
			</ul>
		</div>			
	</div>

	<div class="container">
		<div id="app"></div>	
	</div>

	<!-- TENPLATES	 -->
	<!-- Home -->
	<script type="text/template" id="home">
		<div class="container">
			<div>
				<h1><%= title %></h1>
				<h2><%= subheading %></h2>
			</div>
			<div>
				<div>
					<%= body %>
					<!--spacer-->
					<div class="line-spacer"></div>
					<%_.each(icons, function(item){ %>
						<div class="span3" style="margin-left:0; margin-right:20px; text-align:justify">
							<div style="text-align: center;">
								<img src="<%= item.file %>" />
							</div>
							<p><%=item.text%></p>
						</div>	
						<% })%>
				</div>
			</div>
		</div>
	</script>
	<!-- home -->

	<!-- work -->
	<script type="text/template" id="work">
		<div class="container">
			<div>
				<h1><%= title %></h1>
				<h2><%= subheading %></h2>
			</div>
			<div class="row">
				<div class="span12" style="margin-left:5px;">
					<table>
						<% _.each(phases, function(phase){ %>
							<tr>
								<td style="padding-top:50px;">									
									<td style="padding-right:15px;"><img src="<%=phase.image%>"alt="" /></td>
									<td><%= phase.text %></td>
								</td>
							</tr>
							<% }) %>
					</table>
				</div>
			</div>
		</div>
	</script>
	<!-- template -->

	<!-- template 2 - title, text, [image] -->
	<script type="text/template" id="2">
		<div class="container">
			<div>
				<h1><%= title %></h1>
				<h2><%= subheading %></h2>
			</div>
			<div class="row">
				<% 
				if (typeof image !== 'undefined') { 
					var image_exist = true;
					var span = "span4";
				}else{
					var image_exist = false;
					var span = "span12";
				}
				%>
				<div class="<%= span %>"><%= body %></div>
				<% if (image_exist) { %>
					<div class="span4"></div>
					<div class="span4">
						<a href="#">
							<img src="<%= image %>" />
						</a>
					</div>
					<% } %>
				</div>
			</div>
		</script>
		<!-- 2 template -->

		<!-- Services -->
		<script type="text/template" id="services">
			<div class="container">
				<div>
					<h1><%= title %></h1>
					<h2><%= subheading %></h2>
				</div>
				<div class="row">
					<%_.each(services, function(service){%>
						<div class="service span3">
							<article>
								<img src="<%= service.icon %>" alt="" />
								<%=service.title%>
								<p>
									<%=service.text%>
								</p>
							</article>
						</div>
						<%})%>
				</div>
			</div>
		</script>
		<!-- Services -->

		<!-- template about -->
		<script type="text/template" id="about">
			<div class="container">
				<div>
					<h1><%= title %></h1>
					<h2><%= subheading %></h2>
				</div>
				<div>
					<div><%= body %></div>
				</div>
				<div class="row">
					<%_.each(stories, function(story){%>
						<div class="story span3">
							<article>
								<img src="<%= story.image %>" style="width:<%=story.image_width%>"alt="" />
								<%=story.title%>
								<p>
									<%=story.text%>
								</p>
							</article>
						</div>
						<%})%>
				</div>
			</div>
		</script>
		<!-- about -->

		<!-- contacts -->
		<script type="text/template" id="contacts">
			<div class="container">
				<div>
					<h1><%= title %></h1>
					<h2><%= subheading %></h2>
					<div class="text"><%= body %></div>
				</div>
				<div class="line-spacer"></div>
				<div>
					Get me on my email <a href="mailto:<%=email%>?Subject=Hey%20Rod" target="_top"><%=email%></a><br/>
					Or you can call me on <%=phone%></br>
					Or Skype me adding <%=skype.toUpperCase()%> to your skype list<br/>
				</div>
				<div>
					<!--<img style="float:right; width:100px;" src="<%=me%>"/>-->
				</div>

			</div>
		</script>
		<!-- contacts template -->

		<!-- portfolio template -->
		<script type="text/template" id="portfolio">
			<div class="container">

				<div>
					<h1><%= title %></h1>
					<h2><%= subheading %></h2>
				</div>

				<div class="gallery">
					<ul class="row">
						<%  _.each(images, function(item){ %>
							<li class="span4">
								<article>
									<a href="#<%=item.slug%>" class="thumbnail">
										<img src="<%=item.file%>"></img>
									</a>
								</article>
							</li>
							<% }); %>
					</ul>
				</div>			

				<!--modal notes-->
				<%  _.each(images, function(item){ %>
					<div class="modal hide fade" id="<%= item.slug %>" tabindex="-1">
						<div class="modal-header">
							<%= item.caption %>
						</div>
						<div class="modal-body">
							<%= item.file %>
						</div>
						<div class="modal-footer">
							<%= item.link %>
						</div>
					</div>
					<% }); %>
			</div>
		</script>
		<!-- end of portfolio template -->



		<script src="app/views/home.js"></script>
		<script src="app/views/work.js"></script>
		<script src="app/views/about.js"></script>
		<script src="app/views/portfolio.js"></script>
		<script src="app/views/contacts.js"></script>
		<script src="app/views/services.js"></script>
		<script src="app/views/more.js"></script>

		<script src="app/models/work.js"></script>

		<script src="app/app.js"></script>
	</body>
	</html>


